@media  screen and (max-width:1024px) {
    :root{
        --col-:3;
    }
    .sort{
       
        right: 20%;
    
     }
     
 .categories ul li a{
  
  
    width: 80%;
   
  
  }
    
}
@media  screen and (max-width:768px) {

    :root{
        --col-:2;
    }
    .products_blok{
        flex-direction: column;
        align-items: center;
    }
    .abouts{
        flex-direction: column;
        align-items: center;
        gap:20px;
        
    }
    .sort{
       
        right: 25%;
    
     }
     .products{
        margin-top: 60px;
     }
}
@media  screen and (max-width:480px) {
    :root{
        --col-:1;
    }
}